body {
  margin: 0px;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  cursor: url(/assets/case-4/arrowhead.svg) 0 0, auto;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid red;
  animation: pulse 1.5s ease infinite 0s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
