* {
  margin: 0px;
  padding: 0px;
  color: rgb(225, 225, 225);
  text-decoration: none;
  font-family: "Geo", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Turret Road", sans-serif; */
  cursor: url(/index-assets/arrowhead-rounded-white.svg) 0 0, auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.signature {
  font-size: 1.5rem;
  font-weight: 200;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.container {
  position: relative;
  border-radius: 10px;
  width: calc(100% - 12rem);
  height: calc(100% - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 6px;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  animation: spin 5s linear infinite;
  opacity: 0.5;
  z-index: -1;
}

.container::after {
  filter: blur(2rem);
  opacity: 0.5;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 6px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: url(/index-assets/hand-pointer-white.svg) 0 0, auto;
  transition: 0.3s ease-in-out;
}

a:hover {
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.6);
}
